<ion-header>
  <ion-toolbar color="danger">
    <ion-grid>
      <ion-row>
          <ion-col size="8">
            <ion-title class="titulo">Quinieliando</ion-title>
          </ion-col>
          <ion-col size="4" class="ion-align-self-center">
              <ion-buttons>
                <ion-button class="etiquetastitulo">Equipos</ion-button>
                <ion-button class="etiquetastitulo">Jornada</ion-button>
                <ion-button class="etiquetastitulo">Quiniela</ion-button>
                <ion-button class="etiquetastitulo">Resultados</ion-button>
              </ion-buttons>
          </ion-col>           
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div align="center" class="paradiv">
          <ion-label class="jornada">Jornada 8</ion-label>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="2">
        <div align="center" class="paradiv">
          <ion-title class="participante" >Participante</ion-title>
        </div>
      </ion-col>
      <ion-col size="1">
        <div align="center">
          <ion-title class="partido" >America <br> vs <br> Chivas</ion-title>
        </div>
      </ion-col>
      <ion-col size="1">
        <div align="center">
          <ion-title class="partido" >America <br> vs <br> Chivas</ion-title>
        </div>
      </ion-col>
      <ion-col size="1">
        <div align="center">
          <ion-title class="partido" >America <br> vs <br> Chivas</ion-title>
        </div>
      </ion-col>
      <ion-col size="1">
        <div align="center">
          <ion-title class="partido" >America <br> vs <br> Chivas</ion-title>
        </div>
      </ion-col>
      <ion-col size="1">
        <div align="center">
          <ion-title class="partido" >America <br> vs <br> Chivas</ion-title>
        </div>
      </ion-col>
      <ion-col size="1">
        <div align="center">
          <ion-title class="partido" >America <br> vs <br> Chivas</ion-title>
        </div>
      </ion-col>
      <ion-col size="1">
        <div align="center">
          <ion-title class="partido" >America <br> vs <br> Chivas</ion-title>
        </div>
      </ion-col>
      <ion-col size="1">
        <div align="center">
          <ion-title class="partido" >America <br> vs <br> Chivas</ion-title>
        </div>
      </ion-col>
      <ion-col size="2">
        <div align="center">
          <ion-button color="danger" expand="block" size="large" class="btnagregarparticipante" (click)="openModal()">Agregar participante</ion-button>
        </div>
      </ion-col>
    </ion-row>
    
  </ion-grid>
</ion-content>
