/*.toolbar{
  padding-bottom: 10px;
  background-color: green($color: #f17a0a);
}

.etiquetasmenu{
  padding-top: 5px;
  padding-right: 20px;
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace;
}

.etiquetamenuderecha{
  padding-top: 5px;
  padding-right: 70px;
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace;
}

.titulo{
  padding-top: 10px;
  padding-left: 550px;
  font-size: 30px;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
  
  
}




*/ 

.titulo{
  text-align: center;
}

.etiquetasmenu{
  text-align: center;
  padding-left: 40px;
  
}

.etiquetasmenuuno{
  text-align: center;
}

.imagen{
  padding-top: 60px;
  padding-bottom: 30px;
  width: 500px;
  height: 500px;
}

.ligamx{
  font-size: 40px;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
}